header(class="bg-slate-700 p-4")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl text-white font-extrabold text-center") Bienes
            span(class="font-normal") &nbsp;Raíces 
        
        nav(class="my-2 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/auth/registro") Crear Cuenta
            a(href="/auth/login") Inicar Sesión

//div(class="bg-slate-700 py-5 lg:block hidden")
div(class="bg-slate-700 py-5 lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-base font-semibold text-white") Casas 
        a(href="/categorias/2" class="text-base font-semibold text-white") Departamentos
        a(href="/categorias/3" class="text-base font-semibold text-white") Bodegas
        a(href="/categorias/4" class="text-base font-semibold text-white") Terrenos
        a(href="/categorias/5" class="text-base font-semibold text-white") Cabañas