doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        block styles 
    body(class="bg-white min-h-screen selection:bg-slate-700 selection:text-white")
        include includes/header-mostrarPropiedad

        main(class="mx-auto container mt-10 px-2")
            block contenido 

            block scripts 