extends ./layout/mostrarPropiedad

//- Estilos para los mapas
block styles 
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido 


//- scripts de ubicación en Maps 
block scripts 
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")